*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f4f1ed;
    font-family: Arial, Helvetica, sans-serif;
}



/* HEADER */

header{
    background-color: #f7358a;
    height: 90px;
}


nav ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding-top: 35px;
}


nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}



/* LOGO */

.logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


.logo h1{
    font-size: 90px;
    color: #f3cf21;
}


.logo p{
    color: #f17cb0;
    font-size: 25px;
    font-weight: bold;
}



/* CONTENEDOR */

.contenedor-principal{
    width: 95%;
    margin: auto;

    display: flex;
    justify-content: space-between;
}



/* NOTICIA PRINCIPAL */

.noticia-principal{
    width: 68%;
    background-color: white;
    padding: 20px;
}


.noticia-principal h2{
    color: #6d5ab3;
    margin-bottom: 20px;
}


.noticia-principal img{
    width: 45%;
    height: 400px;
    object-fit: cover;
}


.texto-principal{
    width: 50%;
}


.noticia-principal{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.texto-principal h3{
    background-color: #f17cb0;
    color: white;
    width: 90px;
    text-align: center;
    margin-bottom: 15px;
}


.texto-principal h1{
    font-size: 45px;
    margin-bottom: 20px;
}


.texto-principal p{
    font-size: 25px;
    color: gray;
}



/* TRENDING */

.trending{
    width: 28%;
    background-color: white;
    padding: 20px;
}


.trending h2{
    color: #f3cf21;
    margin-bottom: 20px;
}


.item-trending{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}


.item-trending img{
    width: 120px;
    height: 100px;
    object-fit: cover;
}


.item-trending p{
    font-size: 20px;
}



/* CARDS */

.cards{
    width: 95%;
    margin: auto;

    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    margin-bottom: 40px;
}


.card{
    width: 23%;
    background-color: white;
    padding: 15px;
}


.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.card h3{
    color: #6d5ab3;
    margin-top: 10px;
}


.card h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}


.card p{
    color: gray;
}



/* FOOTER */

footer{
    background-color: #f7358a;
    height: 100px;
}


footer ul{
    display: flex;
    gap: 40px;

    list-style: none;

    padding-top: 40px;
    padding-left: 30px;

    font-weight: bold;
    font-size: 25px;
}